<div class="top-nav">
      <a id="app-name" class="active" href="#">Weatherly</a>
      <a id="topnavlink" href="/help">Help</a>
      <a id="topnavlink" href="/about">About Us</a>
      <a id="topnavlink" href="/">Weather</a>
</div>
