/* all */
*{
    margin: 0;
    padding:0;
}

/* body */
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-repeat: no-repeat;
background-size: cover; 
min-height: 100vh;
background: linear-gradient(to top, rgba(216, 230, 230, 0.897), rgb(153, 239, 241));
}
#developers{
font-family:'Lucida Console';
font-size: 15pt;
}

/* navbar*/
.navbar{
   overflow: hidden; 
   position: fixed;
   width: 100%;
     z-index: 1; 
}
.navbar-brand{
  font-size: 15pt;
}
.nav-link{ 
    font-weight: bolder;
    font-size: 13pt;
      text-decoration: none;
}
.nav-link:hover{
  color: burlywood;
 font-style: unset;
  width: 100%;
  text-decoration:overline;
transition: 0.5s;
}

.navbar-toggler:focus{
  box-shadow: none;
}


/* container */
.container{
    padding-top: 90px;
}

/* card */
.card-img{
  width: 45%;
}
#profile-card{
  background-color: transparent;
  border-style: none;
  padding-left: 10%;
  padding-right: 10%; 
}
#profile{
  background-color: rgba(0, 0, 0, 0.37);
  border-style: outset;
  border-color: transparent;
  padding: 10px;
  box-shadow: 5px 10px rgb(3, 34, 43);
  vertical-align: middle;
}
#profile:hover{
  background:linear-gradient(to right,#24837e, #5f5d43c5);
  transition: 0.5s;
  cursor: pointer;
}
#name{
color:white ;
}
#section{
    color:white ;
}
#school{
    color:white ;
}
#help-card{
  margin-top: 5%;
  margin-bottom: 10%;
}
.card-text{
 text-align: justify;
  text-justify: inter-word;
}
/*footer*/
footer {
  font-weight: bold;
  position: fixed;
  bottom: 0;
  width: 100%;
 background: linear-gradient(to left, rgba(216, 230, 230, 0.897), rgb(153, 239, 241));
  padding-left: 2%;
}  

#errormessage{
  padding-top: 60%;
}