/* all */
*{
    margin: 0;
    padding:0;
}

/* body */
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-repeat: no-repeat;
background-size: cover; 
min-height: 100vh;
background-color: rgb(144, 210, 212);
}

/* col */

#col1{
  padding-top: 10%;
}
#col2{
  padding-top: 15%;
  padding-bottom: 5%;
}

/* footer */
footer {
  font-weight: bold;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to left, rgba(216, 230, 230, 0.897), rgb(153, 239, 241));
  padding-left: 2%;
}  