/* all */
*{
    margin: 0;
    padding: 0;
}

/* body */
body{
 /* background-image:linear-gradient(rgba(209, 56, 176, 0.096), rgba(0, 0, 0, 0.459)), url(../img/weather.jpg); */
 background-image: url(/img/tempo.jpeg);
background-repeat: no-repeat;
background-size: cover; 
min-height: 100vh;

}

/* navbar*/
.navbar{
   overflow: hidden; 
   position: fixed;
   width: 100%;
     z-index: 1; 
}
.navbar-brand{
  font-size: 20pt;
  font-family: Copperplate Gothic Light;
}
.nav-link{ 
    font-weight: bolder;
    font-size: 17pt;
      text-decoration: none;
      font-family: Gabriola;
}
.nav-link:hover{
  color: burlywood;
 font-style: unset;
  width: 100%;
  text-decoration:overline;
transition: 0.5s;
}

/* conatiner */
.container{
    padding-top: 130px;
}
#tagline{
  color: black;
  font-family: Lucida Console;
}
#tagline-support{
  color: black;
  font-family: Lucida Handwriting;
}

/*card*/
#parent-card{
 background-image:linear-gradient(rgba(39, 39, 43, 0.199), rgba(255,255,255,.5)), url(../img/gif.gif);
background-repeat: no-repeat;
background-size: cover; 
margin-top: 10%;
}
#form-card{
  background-color: rgba(240, 255, 255, 0.075);
}
.form-control{
border-radius: 50px;
}
.form-control:focus {
box-shadow: none;
}
#instruction{
  color: white;
  font-family: "Lucida Console";
  font-size: 20pt;
}
#result-card{
 background-color: rgba(218, 228, 228, 0.623);
}
.btn{
background-color: rgba(209, 200, 200, 0.911);
color: black;
border-bottom-right-radius:50px ;
border-top-right-radius:50px ;
}
.btn:focus{
  box-shadow: none;
}

 /* data */
#weekday{
font-size: 25pt;
font-family:'Lucida Console';
font-weight: bold;
}
#month{
  font-size: 15pt;
}
#day{
   font-size: 15pt;
}
#message-1{
font-size: 12pt;
}


